//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
// $primary: #1b2033; // Changing primary color
$secondary: #7468f1;

// vertical menu
$menu-expanded-width: 370px !default;
$menu-collapsed-width: 80px !default;

//  ------------------------------
//    Sidebar
//  -------------------------------
$sidebar-width: 370px !default;
$chat-sidebar-width: 360px !default;