.main-menu {
	border-radius: 0px 10px 10px 0px;
	height: 100vh;
	overflow: auto;
	.navbar-header {
		.navbar-brand {
			.brand-text {
				font-size: 24px !important;
				font-weight: 500 !important;
			}
		}
		padding: 9px 20px 65px !important;
		border-bottom: 1px solid #303547;
	}
}
.menu-collapsed {
	.main-menu {
		&:not(.expanded) {
			.avatar {
				img {
					width: 100% !important;
					height: 100% !important;
				}
			}
		}
	}
	.expanded.main-menu.menu-light {
		.navigation {
			.navigation-header {
				text-transform: capitalize !important;
				margin: 37px 0 0 !important;
				padding: 1.3rem 1.5rem !important;
				font-size: 20px !important;
				font-weight: 400 !important;
				color: #515974;
				border-top: 1px solid #303547;
			}
			>li.active {
				border-left: 5px solid #208cd4;
				>a {
					background: #0c1124 !important;
				}
			}
			li {
				a {
					padding: 20px !important;
					font-size: 16px !important;
					margin: 0 !important;
					color: #fff !important;
				}
			}
		}
	}
}
.userDropDown {
	padding: 37px 0 0;
}
.user-name {
	font-size: 13px !important;
	font-weight: 550;
}
.menu-expanded {
	.main-menu.menu-light {
		.navigation {
			.navigation-header {
				text-transform: capitalize !important;
				margin: 37px 0 0 !important;
				padding: 1.3rem 1.5rem !important;
				font-size: 20px !important;
				font-weight: 400 !important;
				color: #515974;
				border-top: 1px solid #303547;
			}
			>li.active {
				border-left: 5px solid #208cd4;
				>a {
					background: #0c1124 !important;
				}
			}
			>li.menu-collapsed-open.sidebar-group-active {
				>li.active {
					border-left: 5px solid #208cd4;
					border-left: 5px solid #208cd4;
				}
			}
			li {
				a {
					padding: 20px !important;
					font-size: 16px !important;
					margin: 0 !important;
					color: #fff !important;
				}
			}
		}
	}
}
.header-navbar.floating-nav {
	margin: 0 2rem !important;
	border-radius: 0px 0px 15px 15px !important;
	padding: 1.2rem 1rem !important;
}
.vertical-layout.vertical-menu-modern.menu-expanded {
	.main-menu {
		.navigation {
			li.has-sub {
				>a {
					&:after {
						top: 28px !important;
					}
				}
			}
		}
	}
}
.card-statistics {
	.statistics-body {
		.avatar {
			.avatar-content {
				width: 62px !important;
				height: 62px !important;
			}
		}
	}
}
#dashboard-analytics {
	.card {
		border-radius: 20px;
	}
	.card-statistics {
		.statistics-body {
			padding: 4.4rem 2.8rem !important;
		}
	}
}
.statsDropdown {
	position: absolute;
	top: -70px;
	z-index: 99;
	right: 90px;
	.btn-flat-primary {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 4px;
		color: #aeacb9;
		&:hover {
			&:not(.disabled) {
				&:not(:disabled) {
					background-color: transparent !important;
				}
			}
		}
		&:focus {
			background-color: transparent !important;
		}
	}
}
.invoice-list-wrapper {
	.card {
		padding: 30px 0 0;
	}
	h2 {
		padding: 0 18px;
	}
	.showEntries {
		position: relative;
		top: -50px;
		left: 30px;
		display: inline-block;
	}
	.page-item.active {
		.page-link {
			background-color: #7468f1;
		}
	}
}
.rdt_Table .rdt_TableCol{
	padding-right: 5px !important;
	padding-left: 5px !important;
	// margin-right: 0.005rem !important;
}


.invoice-list-dataTable .rdt_TableCol:last-child{
	justify-content: center;
}	
.rdt_TableBody .rdt_TableRow .rdt_TableCell{
	font-weight: 500;
	color: #716f7b;
}
.rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable{
	font-size: 10px;
	color: #5a5571;
	font-weight: 500;
	justify-content: center;
}
.rdt_TableHeadRow .rdt_TableCol #column-client{
	margin-left: 20px;
}

.dot {
	width: 11px;
    height: 11px;
	border-radius: 50%;
}
.dot-dark {
	background-color: #214090;
}
.dot-red {
	background-color: #e63b20;
}
.dot-green {
	background-color: #2cb6d1;
}

// .allRD .card-body {
// 	position: relative;
// }
.allRD .card-body .totalRD {
	text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 50%;
	transform: translateY(-30%);
    left: 0;
    right: 0;
}
.allRD .card-body .totalRD.totalRDBrands {
	color: #fff;
	top: calc(100% - 50px);
	font-size: 26px;
}
.allRD .card-body .totalRD p {
	margin: 0;
	line-height: 0.1em;
}
.allRD .card-body .totalRD span {
	font-size: 14px;
}
.allRD .card-header {
	border-bottom: 1px solid #f4f5f8;
	padding: 1.3rem;
	margin-bottom: 25px;
}
.allRD .card-header .allRdTopLinks ul li a {
	padding: 20px 10px;
	border-bottom: 1px solid transparent;
	color: #646464;
}
  
.allRD .card-header .allRdTopLinks ul li a:hover {
	border-bottom: 1px solid #556fe6;
	color: #556fe6;
  }
  
  .allRD .card-header .allRdTopLinks ul li a.active {
	border-bottom: 1px solid #556fe6;
	color: #556fe6;
  }

  .allRD .card-footer {
	border-top: none;
    text-align: center;
    padding: 0 0 30px;
  }
.allRD .card-footer .btn {
	background-color: #edf2f7 !important;
    color: #bec5d4 !important;
    font-weight: bold;
    font-size: 16px;
    width: 103px;
    min-height: 37px; 
}
.allRD .card-footer .btn.btn-active {
	background-color: #142e70 !important;
    color: #fff !important;
	position: relative;
	right: -2px;
}

.allRD .allRdBrandsStats {
	position: relative;
	top: -40px;
}

.allRD .allRdBrandsStats ul li {
	font-weight: 700;
    margin: 0 10px;
    color: #000;
    font-size: 18px;
}

.allRD .allRdBrandsStats ul li span {
    font-weight: 400;
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    color: #646464;
}
.subconcardtitle{
	color: #5167e1 ;
	font-weight: bold; 
	font-size: 20px !important;
}
.subconcardtitle-gray {
	color: #5e5973;
}
.subconcard .paid h5{
	color: #4a4d55;
	font-size: 14px;
	font-weight: bold;
}
.subconcard .paid p{
	color: #b2b3b5;
	font-weight: bold;
	font-size: 14px;
}
.subconcard .previous-period{
	margin-left: 5px;
}
.subconcard .previous-period .previous-period-text{
	font-size: 15px;
	font-weight:600;
	color: #616166;
	margin-left: 5px;
}
.subconcard .previous-period .arrow-up{
	color: #33cd85;
	margin-bottom: 5px !important;
}
.subconcard .view-more{
	padding: 9px 28px 9px 15px;
	background-color: #5167e1;
	color: white;
	font-size: 15px;
	font-weight: bold; 
	position:relative; 
	border-radius:7px;
	display: inline-block;
	margin-top: 7rem;
}
.subconcard .view-more .arrow-right{
	position: absolute;
	top: 14px;
	margin-left: 5px;
	
}
.dot-sub{
	background-color: #34ce86;
}
.dot-trial{
	background-color: #5167e1;
}

.fwbold {
	font-weight: 700;
}


// MEDIA QUERY

@media screen and (max-width: 992px){
	// .subconcardtitle{
	// 	font-size:20px ;
	// }
	
	.rdt_TableHeadRow .rdt_TableCol .rdt_TableCol_Sortable{
		font-size: 10px !important;
	}
}
// @media screen and (min-width: 993px){
// }